
<h1>Your past competitions</h1>
<% relevant_competitions = []%>
<% @competitions.each do |competition| %>
	<% if competition.winner!=0 && competition.winner != nil%>
		<% competition.playlists.each do |playlist| %>
			<% if playlist.user_id == current_user.id %>
				<% relevant_competitions.push(competition) %>
			<% end%>				
		<% end%>
	<% end%>
<% end%>

<% relevant_competitions.each do |competition| %>
	<div><%= competition.name%></div>
	<%# user = User.find(competition.winner) %>
	
	<% if competition.winner != nil %>
		<% u = User.find(competition.winner) %>
		<div><%= u.name %></div>
	<% else %>
		<div> No winner on record </div>
	<% end %>
<% end %>