


<div class="homepage cf">
  <div class="welcome">Welcome to <span>Comp</span>ify</div>
  <div class="about-message">Challenge your friends to a playlist competition and vote for your favourite</div>

  <div class="login-container cf"> 
	  <div class="homepage-login button">
	    <%= link_to "Login here with Spotify to get started!", user_omniauth_authorize_path(:spotify) %></div>
   </div>
</div>
