// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// *{
// 	box-sizing: border-box;
// }


// .cf:before,
// .cf:after {
//     content: " "; /* 1 */
//     display: table; /* 2 */
// }

// .cf:after {
//     clear: both;
// }


// // green
// $color1: #588C7E;
// // rgb(88,140,126)

// // yellow
// $color2: #F2E394;
// // rgb(242,227,148)

// // red
// $color3: #D96459;
// // rgb(217,100,89)

// $font-family: 'Droid Sans', sans-serif;


// $break-small: 500px;
// $break-large: 900px;
// // .wrapper{
// // 	margin-top: -50px;
// // }

// main{
// 	width: 100%;
// 	font-family: $font-family;
// 	margin-top: -50px;
// }

// .timed-out-message{
// 	margin: 10%;
// 	padding: 10%;
// 	background-color: rgba(50,50,50,0.5);
// 	text-align: center;

// }

// ::-webkit-input-placeholder { /* WebKit browsers */
//     color: $color1;
// }
// :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
//    color: $color1;
//    opacity:  1;
// }
// ::-moz-placeholder { /* Mozilla Firefox 19+ */
//    color:$color1;
//    opacity:  1;
// }
// :-ms-input-placeholder { /* Internet Explorer 10+ */
//    color:$color1;
// }


// .alert{
// 	// removes space between nav and first section
// 	// margin-bottom: 7px;
// }

// .navbar {
// 	background: rgba(50,50,50,0.99);
// }

// #bs-example-navbar-collapse-1 ul li a{
// 	color: $color2;
// }

// .navbar-brand{
// 	color: $color1;
// }

// section{
// 	height: 100vh-50px;
// 	min-height: 700px;
// 	width: 100%;
// 	padding-top: 5%;
// 	@media screen and (max-width: $break-large) {
// 		min-height: 200px;
// 		padding-top: 0;
// 	}
// 	@media screen and (max-width: $break-small) {
// 		min-height: 300px;
// 		padding-top: 0;
// 	}
// }


// .container{
// 	padding: 5%;
// 	background-color: rgba(50,50,50,0.5);
// }

// .dashboard-menu{
// 	background: url(/assets/dials.jpg);
// 	background-repeat: none;
// 	background-size: cover;
// 	background-attachment:fixed;
// 	color: $color2;
// 	padding-top: 10vh; 
// 	.container{
// 		.dashboard-menu-left{
// 			float: left;
// 			width: 50%;
// 			@media screen and (max-width: $break-small) {
// 				width: 90vw;
// 				float: left;
// 			}
// 			h2 {
// 				font-size: 60px;
// 				padding: 0 30%;
// 				@media screen and (max-width: $break-large) {
// 				    font-size: 40px;
// 				    padding: 0 10%;
// 				 }
// 				@media screen and (max-width: $break-small) {
// 					font-size: 20px;
// 				}
// 			}
// 		}
// 		.dashboard-menu-right{
// 			float:right;
// 			width: 50%;
// 			padding-top: 5%;
// 			@media screen and (max-width: $break-small) {
// 				width: 90vw;
// 				float: left;
// 			}
// 			ul {
// 				list-style: none;
// 				li {
// 					font-size: 20px;
// 					line-height: 50px;
// 					@media screen and (max-width: $break-small) {
// 						font-size: 15px;
// 						line-height: 35px;
// 					}

// 					a{
// 						color: $color2;
// 						text-decoration: none;
// 					}
// 				}
// 			}
// 		}
// 	}
// }



.break-1{
	background: url(/assets/cd_shelf.jpg);
}

.add-playlist{
	background: url(/assets/headphones.jpg);
	background-repeat: none;
	background-size: cover;
	background-attachment:fixed;
	color: $color1;
	.container{
		@media screen and (max-width: $break-small) {
			padding-top: 50px;
		}
		.add-playlist-selector{
			float: left;
			width: 35%;
			@media screen and (max-width: $break-large) {
				width: 25%;
			}
			@media screen and (max-width: $break-small) {
				width: 90vw;
			}
			button{
				width: 150px;
				height: 80px;
				font-size: 20px;
				margin: 15%;
				color: $color2;
				background: $color1; 
				@media screen and (max-width: $break-large) {
				    font-size: 15px;
					width: 100px;
					height: 50px;
				 }
				@media screen and (max-width: $break-small) {
					float: left;
				}
				@media screen and (max-width: $break-small) {
					font-size: 10px;
					width: 80px;
					height: 50px;
					margin: 5%;
				}
			}
		}
		.add-playlist-title{
			float: right;
			width: 65%;
			height: 100%;
			@media screen and (max-width: $break-small) {
				width: 90vw;
			}
			h2{
				font-size: 60px;
				margin: 10% 20%;
				@media screen and (max-width: $break-large) {
				    font-size: 40px;
				 }
				@media screen and (max-width: $break-small) {
					font-size: 20px;
				}
			}

		}
		.playlist-select {
			float: right;
			width: 65%;
			height: 100%;
			text-align: center;
			@media screen and (max-width: $break-small) {
				width: 95vw;
			}
			.playlist-list {
				float:left;
				width: 30%;
				height: 80%;
				border: solid 1px black;
				@media screen and (max-width: $break-small) {
					width: 80vw;
					height: 100px;
					margin-left: 10vw;
					overflow: hidden;
				}
				.playlist-search{
					height: 10%;
					border: 1px solid $color2; 
				}
				.playlist-scroll{
					height: 360px;
					overflow: scroll;
					background: rgba(50,50,50,0.75);
					.playlist-list-title{
						font-weight: bold;
						border-bottom: 5px solid $color2;
						color: $color2;
						font-size: 15px;
					}
					.playlist-in-list{
						cursor: pointer;
						color: $color2;
					}
					.playlist-in-list:hover{
						background: $color1;
					}
				}
			}
			.playlist-viewer{
				width: 70%;
				height: 100%;
				float: right;
				@media screen and (max-width: $break-small) {
					margin-top: 20px;
					width: 90vw;
					height: 200px;
				}
				iframe{
					height: 300px;
					@media screen and (max-width: $break-large) {
						width: 215px;
						border: none; 
					}
					@media screen and (max-width: $break-small) {
						height: 100px;
					}
				}
				.playlist-selector-button{
					margin: 0 auto;
					width: 200px;
					background: $color3;
					color: $color2;
					border-radius: 10px;
					margin-top: 20px;
					padding: 5px;
					cursor: pointer;
				}
			}
		}
		.competition-select{
			float: right;
			width: 65%;
			height: 100%;
			@media screen and (max-width: $break-small) {
				width: 90vw;
				float: left;
			}
			.competition-list{
				float:left;
				width: 30%;
				height: 100%;
				border: solid 1px black;
				@media screen and (max-width: $break-small) {
					width: 100%;
				}
				.competition-scroll{
					text-align: center;
					background: rgba(50,50,50,0.75);
					color: $color2;
					.competition-in-list{
						cursor: pointer;
					}
					.no-competitions{
						a:hover{
							background: none;
						}
					}
					.competition-list-header{
						font-size: 15px;
						font-weight: bold;
						border-bottom: 5px solid $color2;
						color: $color2;
					}
					.competition-in-list:hover{
						font-weight: bold;
						background: $color1;
					}

				}
			}
			.competition-viewer{
				text-align: center;
				float: right;
				width: 70%;
				height: 100%;
				max-height: 350px;
				min-height: 300px;
				background-color: rgba(50,50,50,0.5);
				@media screen and (max-width: $break-small) {
					width: 90vw;
				}
			}
			.competition-selector-button{
				margin: 0 auto;
				width: 200px;
				background: $color3;
				color: $color2;
				border-radius: 10px;
				margin-top: 20px;
				padding: 5px;
				cursor: pointer;
			}
		}
	}
}



.break-2{
	background: url(/assets/vinyls1.jpg);
}

.vote-on-comp{
	background: url(/assets/earphones.jpg);
	background-repeat: none;
	background-size: cover;
	background-attachment:fixed;
	color: $color2;
	.container{
		@media screen and (max-width: $break-small) {
			padding-top: 50px;
		}
		min-height: 300px;
		.vote-controller-container{
			float: left;
			width: 50%;
			@media screen and (max-width: $break-small) {
				width: 90vw;
			}
			.comp-select-vote{
				background: rgba(50,50,50,0.5);
				text-align: center;
				float: left;
				width: 50%;
				height: auto;
				border: 1px solid $color3;
				overflow: scroll;
				@media screen and (max-width: $break-small) {
					width: 45vw;
					height: 50vw;
				}
				.competition-vote-list-header{
					font-size: 15px;
					font-weight: bold;
					border-bottom: 5px solid $color2;
					color: $color2;				
				}
				.competition-in-vote-list:hover{
					font-weight: bold;
					background: $color1;
					cursor: pointer;
				}
			}
			.playlist-vote-list{
				text-align: center;
				vertical-align: top;
				height: 387px;
				float: left;
				width: 50%;
				height: 80%;
				border: 1px solid $color3;
				cursor: pointer;
				@media screen and (max-width: $break-small) {
					width: 45vw
				}
				.playlists-in-comp-header{
					font-size: 15px;
					font-weight: bold;
					border-bottom: 5px solid $color2;
					color: $color2;					
				}
			}
			.vote-buttons{
				.close-vote-button{
					text-align: center;
					font-size: 15px;
					background: $color3;
					color: $color2;
					border-radius: 10px;
					padding: 5px;
					float: left;
					cursor: pointer;
					clear: left;
					width: 100px;
					margin-left: 8%;
					@media screen and (max-width: $break-large) {
						margin: 10px 0;
						width: 60px;
						font-size: 10px;
					}
				}
				.comp-vote-button{
					font-size: 15px;
					background: $color3;
					color: $color2;
					border-radius: 10px;
					padding: 5px;
					float: left;
					cursor: pointer;
					width: auto;
					margin-left: 10px;
					@media screen and (max-width: $break-large) {
						font-size: 10px;
						margin: 10px 10px;
					}
				}
			}
		}
		.playlist-viewer-vote-container{
			float: left;
			width: 35%;
			height: 80%;
			@media screen and (max-width: $break-small) {
				clear: left;
				width: 90vw;
				width: 275px;
				iframe{
					width: 90vw;
					height: 100px;
					@media screen and (max-width: $break-large) {
						width: 100%;	
					}
				}
			}
		}
		
		.comp-reveal-button{
			font-size: 30px;
			// width: 500px;
			background: $color3;
			color: $color2;
			border-radius: 10px;
			padding: 20px;
			float: left;
			margin: 12vw 0 0 0; 
			cursor: pointer;
			@media screen and (max-width: $break-large) {
			    font-size: 20px;
			 }
			@media screen and (max-width: $break-small) {
				width: 130px;
				font-size: 12px;
				padding: 10px;
				margin-left: 21vw;
			}

		}
		.comp-select-vote-title{
			float: left;
			width: 50%;
			@media screen and (max-width: $break-small) {
				width: 90vw;
				text-align: center;
			}
			h2{
				font-size: 60px;
				width: 60%;
				margin-top: 15%;
				margin-left: 10%;
				@media screen and (max-width: $break-large) {
				    font-size: 40px;
				 }
				@media screen and (max-width: $break-small) {
					font-size: 20px;
					margin: 0 auto;
				}
			}
		}
	}
}

.break-3{
	background: url(/assets/vinyls2.jpg);
}

.create-comp{
	background: url(/assets/dials.jpg);
	background-repeat: none;
	background-size: cover;
	background-attachment:fixed;
	color: $color1;
	.container{
		width: 90vw;
		@media screen and (max-width: $break-small) {
			width: 100vw;
		}
		.create-comp-title{
			width: 50%;
			height: 100%;
			float: right;
			margin-top: 120px;
			padding-left: 5vw;
			@media screen and (max-width: $break-large) {
				float: left;
				width: 100%;
				margin-top: 20px;
				text-align: center;
				padding: 0;
			}
			h2{
				font-size: 60px;
				@media screen and (max-width: $break-large) {
				    font-size: 40px;
				 }
				@media screen and (max-width: $break-small) {
					font-size: 20px;
				}

			}
		}
		.comp-form-container{
			width: 405px;
			height: auto;
			float: left;
			background-color: rgba(50,50,50,0.5);
			padding: 20px;
			@media screen and (max-width: $break-large) {
				margin: 0 auto;
				width: 100%;
			}
			@media screen and (max-width: $break-small) {
				padding: 0;
				background: none;
			}
			form{
				text-align: center;
				width: 100%;
				input{
					color: $color1;
					font-size: 20px;
					width: 300px;
					height: 34px;
					margin-top: 15px;
					padding-top: 5px;
					text-align: center;
					@media screen and (max-width: $break-large) {
						width: 180px;
						font-size: 15px;
					}
				}
				.vote-close, .entry-close{
					margin-top: 0;
				}
				.theme-form-options{
					input{
						width:160px;
					}
					select{
						vertical-align: top;
						margin-top: 15px;
						width: 215px;
					    padding: 5px;
					    font-size: 16px;
					    border: 1px solid #ccc;
					    height: 34px;
					    color: $color1;
						@media screen and (max-width: $break-small) {
							width: 180px;
						}
						option{
							font-size: 20px;
							color: $color1;
						}
					}
				}
				.entry-close-label, .vote-close-label{
					width: 100%;
					text-align: center;
					font-size: 20px;
					margin-top: 15px; 
					@media screen and (max-width: $break-small) {
						font-size: 15px;
					}
				}
				.comp-form-submit{
					margin: 20px;
					@media screen and (max-width: $break-small) {
						margin: 10px 0;
					}
				}
			}
		}
		.comp-friends-invite{
			width: 50%;
			float: left;
		}
	}
}

.break{
	background-repeat: none;
	background-size: cover;
	background-attachment:fixed;
	height: 50vh;
	min-height: 100px;
	@media screen and (max-width: $break-large) {
	 height: 15vh; 
	}
	@media screen and (max-width: $break-small) {
	 height: 10vh; 
	}
}

.notice{
	color: $color2;
	height: 20px;
}










.homepage{
	margin-top: -100px;
	background: url(/assets/headphones.jpg);
	background-size: cover;
	background-repeat: none;
	height: 100vh;
	line-height: normal;
	text-align: center;
	.welcome{
		width: 100vw;
		height: 200px;
		padding-top: 100px;
		font-size: 80px;
		float: left;
		text-align: center;
		color: $color1;
		@media screen and (max-width: $break-large) {
			font-size: 60px;
			height: 300px;

		}
		@media screen and (max-width: $break-small) {
			font-size: 30px;
			height: 200px;
		}
	}
	.about-message{
		font-size: 30px;
		float: left;
		clear: left;
		width: 100vw;
		text-align: center;
		padding: 0 20vw;
		line-height: 50px;
		background: rgba(50,50,50,0.75);
		color: $color2;
		@media screen and (max-width: $break-small) {
			font-size: 15px;
			line-height: 25px;
		}
	}
	.login-container{
		width: 100vw;
		text-align: center;
		float: left;
		padding-left: 35vw;
		.homepage-login{
			font-size: 35px;
			width: 30vw;			
			background: rgba(197,100,89,0.9);
			border-radius: 5px;
			// line-height: 50px;
			padding: 20px;
			float: left;
			margin-top: 10vh;
			margin-bottom: 10vh;
			color: $color2;
			a:hover{
				text-decoration: none;
				background: none;
			}
			@media screen and (max-width: $break-large) {
				font-size: 20px;
			}
			@media screen and (max-width: $break-small) {
				font-size: 15px;
				width: 60vw;
				margin-left: -15vw;
				padding:10px; 
			}
		}
	}
}




.old-competitions-page{
	width: 100vw;
	height: 105vh;
	background: url(/assets/vinyls2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -100px;
	padding-top: 20vh;
	text-align: center;
	.old-competitions-container{
		width: auto;
		background: rgba(50,50,50,0.85);
		width: 50vw;
		text-align: center;
		margin: 0 auto;
		color: $color2;
		@media screen and (max-width: $break-small) {
			width: 90vw;
		}
		.old-comp-header{
			@media screen and (max-width: $break-small) {
				font-size: 26px;
			}
		}
		.old-comp-name, .old-comp-winner, .old-comp-name-header, .old-comp-winner-header{
			float: left;
			padding: 5%;
			width: 50%;
		}
		.old-comp-name-header, .old-comp-winner-header{
			border-bottom: 2px solid black;
			padding-bottom: 0;
			color: $color1;
		}
		
	}

}










