


table{
  text-align: center;
  width: 100%;
}

tr {
  height: 80px;
}

tr th{
  text-align: center;
}

.competitions_footer{
  margin: 10%;
}


.playlist_in_comp{
  border: 2px dashed green;
  height: 110px;
}


.playlist_voter iframe{
  display: inline-block;
  margin: 10px;
}

.playlist_voter form{
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

section {
  border: solid 1px gray;
}


.main{
  text-align: center;
/*  padding: 5% 10%;
  margin: 0 10%;*/
/*  background: url("https://img0.etsystatic.com/000/0/5506487/il_570xN.211498654.jpg");
*/  background-size: 100%;
  min-height: 100vh;
  font-size: 20px;
}




/*h1{
  width: 100%;
  padding: 10px 0;
  background: rgba(0,0,255, 0.1)
}

h2{
  width: 100%;
  margin: 20px 0;
  background: rgba(0,0,255, 0.1)
}

.have_already_voted{
  background: #4DA400;
}

.have_not_already_voted{
  background: white;
}


.submit_vote_button input{
  background: rgba(1, 1, 1, 0)
}


.show_competition a{
  background: rgba(0,0,255, 0.1);
  font-size: 15px;

}*/


